body {
    background-color: #ccc;
}

.formBusqueda {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 2px;
    padding: 10px;
    width: 60%;
    margin: auto;

}

.contenedorFlex {
    width: 100%;
}


#agregar {
    border-radius: 10px;
    cursor: pointer;
}

.flex {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    background-color: #800080;
    margin-bottom: 15px;
    padding: 10px;
}

.flex div {
    text-align: center;
    color: #fff;

}

#equis {
    cursor: pointer;
    color: #000;
    font-weight: 700;
    background-color: #f00;
}